.feature-container {
  font-size: 2rem;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }

.icon-container {
  font-size: 2rem;
}

